<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
          <!-- <h1 class="display-3"></h1> -->
          <br>
          <code class="w3-codespan" style="font-size: 19px;">&lt;http://magento-test.finology.com.my&gt;</code>
 		      <br>
          <div class="info-form mt-3">
            <form action="/home/scrap" method="post" class="form-inline justify-content-center">
              <button type="submit" data-disable="Processing..." class="btn btn-danger ">Lets go scraped this!</button>
            </form>
            <br>
            <a href="<%= home_products_path %>" data-disable="Processing..." class="btn btn-danger ">Look at Products</a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>