<div class="row m-5">
	<table id="example" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>NAME</th>
				<th>PRICE</th>
				<th>DESCRIPTIONS</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
				<% cache product do %>
					<tr>
						<td><%= product.name %></td>
						<td><%= number_to_currency(product.price) %></td>
						<td><%= product.description %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<script>
	$('.table').DataTable();
</script>