/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body{
 height: 100%;
}

#cover {
  background: #222 url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  /*text-align: center;*/
  display: flex;
  /*align-items: center;*/
}

#cover-caption {
  width: 100%;
}
.w3-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}